In [1]:
#Importing the necessary libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import MaxAbsScaler, MinMaxScaler, StandardScaler

In [2]:
#Loading the dataset
data = pd.read_csv("https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-regioni/dpc-covid19-ita-regioni.csv")
data.head(10)

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,...,note,ingressi_terapia_intensiva,note_test,note_casi,totale_positivi_test_molecolare,totale_positivi_test_antigenico_rapido,tamponi_test_molecolare,tamponi_test_antigenico_rapido,codice_nuts_1,codice_nuts_2
0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2020-02-24T18:00:00,ITA,6,Friuli Venezia Giulia,45.649435,13.768136,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2020-02-24T18:00:00,ITA,12,Lazio,41.892770,12.483667,1,1,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2020-02-24T18:00:00,ITA,7,Liguria,44.411493,8.932699,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2020-02-24T18:00:00,ITA,3,Lombardia,45.466794,9.190347,76,19,95,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2020-02-24T18:00:00,ITA,11,Marche,43.616760,13.518875,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#Exploring the dataset
(data.isna().sum() / len(data)) * 100

data                                       0.000000
stato                                      0.000000
codice_regione                             0.000000
denominazione_regione                      0.000000
lat                                        0.000000
long                                       0.000000
ricoverati_con_sintomi                     0.000000
terapia_intensiva                          0.000000
totale_ospedalizzati                       0.000000
isolamento_domiciliare                     0.000000
totale_positivi                            0.000000
variazione_totale_positivi                 0.000000
nuovi_positivi                             0.000000
dimessi_guariti                            0.000000
deceduti                                   0.000000
casi_da_sospetto_diagnostico              84.102061
casi_da_screening                         84.102061
totale_casi                                0.000000
tamponi                                    0.000000
casi_testati                               5.397448
note                                      76.302631
ingressi_terapia_intensiva                27.772326
note_test                                 99.140147
note_casi                                 87.630263
totale_positivi_test_molecolare           31.992149
totale_positivi_test_antigenico_rapido    31.992149
tamponi_test_molecolare                   31.992149
tamponi_test_antigenico_rapido            31.992149
codice_nuts_1                             31.992149
codice_nuts_2                             31.992149
dtype: float64

In [5]:
data.describe()

,codice_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,...,casi_da_sospetto_diagnostico,casi_da_screening,totale_casi,tamponi,casi_testati,ingressi_terapia_intensiva,totale_positivi_test_molecolare,totale_positivi_test_antigenico_rapido,tamponi_test_molecolare,tamponi_test_antigenico_rapido
count,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,...,3402.000000,3402.00000,2.139900e+04,2.139900e+04,2.024400e+04,15456.000000,1.455300e+04,1.455300e+04,1.455300e+04,1.455300e+04
mean,11.857143,43.046293,12.225955,500.182438,49.998972,550.181410,23114.968830,23665.149960,24.433572,1140.638581,...,16472.772193,6319.39565,3.637783e+05,4.890656e+06,1.579592e+06,3.393439,3.001568e+05,2.222078e+05,3.391754e+06,3.584567e+06
std,6.273945,2.488839,2.659010,921.124122,102.166035,1018.245539,43415.185116,43832.006923,2181.957878,2532.712178,...,32188.413270,15054.35195,6.019821e+05,7.438816e+06,1.926641e+06,6.040425,3.221850e+05,3.888669e+05,3.446447e+06,5.110871e+06
min,1.000000,38.115697,7.320149,0.000000,0.000000,0.000000,0.000000,0.000000,-50797.000000,-229.000000,...,0.000000,0.00000,0.000000e+00,0.000000e+00,3.482000e+03,-2.000000,7.382000e+03,0.000000e+00,6.615200e+04,0.000000e+00
25%,7.000000,41.125596,11.121231,50.000000,3.000000,56.000000,1215.500000,1325.500000,-93.000000,50.000000,...,2052.250000,117.00000,1.530450e+04,3.548475e+05,2.442615e+05,0.000000,6.609100e+04,3.600000e+02,8.565010e+05,3.403670e+05
50%,12.000000,43.616760,12.388247,190.000000,16.000000,208.000000,6396.000000,6695.000000,3.000000,286.000000,...,5290.500000,1493.00000,1.028760e+05,1.760165e+06,7.931890e+05,1.000000,1.870820e+05,1.968600e+04,2.038683e+06,1.610479e+06
75%,17.000000,45.434905,13.768136,546.000000,47.000000,602.000000,24702.500000,25519.500000,143.000000,1146.500000,...,19285.750000,5469.00000,4.035210e+05,5.825642e+06,2.170624e+06,4.000000,4.371260e+05,2.587540e+05,4.859053e+06,4.262244e+06
max,22.000000,46.499335,16.867367,12077.000000,1381.000000,13328.000000,574548.000000,578257.000000,47483.000000,52693.000000,...,305002.000000,113150.00000,3.997099e+06,4.381851e+07,1.024301e+07,86.000000,1.523826e+06,2.473273e+06,1.685070e+07,2.696781e+07

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21399 entries, 0 to 21398
Data columns (total 30 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   data                                    21399 non-null  object
 1   stato                                   21399 non-null  object
 2   codice_regione                          21399 non-null  int64
 3   denominazione_regione                   21399 non-null  object
 4   lat                                     21399 non-null  float64
 5   long                                    21399 non-null  float64
 6   ricoverati_con_sintomi                  21399 non-null  int64
 7   terapia_intensiva                       21399 non-null  int64
 8   totale_ospedalizzati                    21399 non-null  int64
 9   isolamento_domiciliare                  21399 non-null  int64
 10  totale_positivi                         21399 non-null  int64
 11  variazione_totale_positivi              21399 non-null  int64
 12  nuovi_positivi                          21399 non-null  int64
 13  dimessi_guariti                         21399 non-null  int64
 14  deceduti                                21399 non-null  int64
 15  casi_da_sospetto_diagnostico            3402 non-null   float64
 16  casi_da_screening                       3402 non-null   float64
 17  totale_casi                             21399 non-null  int64
 18  tamponi                                 21399 non-null  int64
 19  casi_testati                            20244 non-null  float64
 20  note                                    5071 non-null   object
 21  ingressi_terapia_intensiva              15456 non-null  float64
 22  note_test                               184 non-null    object
 23  note_casi                               2647 non-null   object
 24  totale_positivi_test_molecolare         14553 non-null  float64
 25  totale_positivi_test_antigenico_rapido  14553 non-null  float64
 26  tamponi_test_molecolare                 14553 non-null  float64
 27  tamponi_test_antigenico_rapido          14553 non-null  float64
 28  codice_nuts_1                           14553 non-null  object
 29  codice_nuts_2                           14553 non-null  object
dtypes: float64(10), int64(12), object(8)
memory usage: 4.9+ MB

In [7]:
#Removing empty columns
data.dropna(axis=1,inplace=True)
data.head(10)

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,totale_casi,tamponi
0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,0,5
1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0,0
2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,0,1
3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,0,10
4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,0,18,0,0,18,148
5,2020-02-24T18:00:00,ITA,6,Friuli Venezia Giulia,45.649435,13.768136,0,0,0,0,0,0,0,0,0,0,58
6,2020-02-24T18:00:00,ITA,12,Lazio,41.892770,12.483667,1,1,2,0,2,0,2,1,0,3,124
7,2020-02-24T18:00:00,ITA,7,Liguria,44.411493,8.932699,0,0,0,0,0,0,0,0,0,0,1
8,2020-02-24T18:00:00,ITA,3,Lombardia,45.466794,9.190347,76,19,95,71,166,0,166,0,6,172,1463
9,2020-02-24T18:00:00,ITA,11,Marche,43.616760,13.518875,0,0,0,0,0,0,0,0,0,0,16

In [8]:
(data.isna().sum() / len(data)) * 100

data                          0.0
stato                         0.0
codice_regione                0.0
denominazione_regione         0.0
lat                           0.0
long                          0.0
ricoverati_con_sintomi        0.0
terapia_intensiva             0.0
totale_ospedalizzati          0.0
isolamento_domiciliare        0.0
totale_positivi               0.0
variazione_totale_positivi    0.0
nuovi_positivi                0.0
dimessi_guariti               0.0
deceduti                      0.0
totale_casi                   0.0
tamponi                       0.0
dtype: float64

# Single Feature Scaling

* **reshape(-1)** - converts the array into a line(row) vector
* **reshape(-1,1)** - converts the array into a column vector
* **reshape(1,-1)** - converts the array back to its original shape

In [9]:
X = np.array(data['tamponi']).reshape(-1,1)
scaler = MaxAbsScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)
data['single feature scaling'] = X_scaled.reshape(1,-1)[0]
data.head(10)

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,totale_casi,tamponi,single feature scaling
0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,0,5,1.141070e-07
1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00
2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,0,1,2.282141e-08
3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,0,10,2.282141e-07
4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,0,18,0,0,18,148,3.377568e-06
5,2020-02-24T18:00:00,ITA,6,Friuli Venezia Giulia,45.649435,13.768136,0,0,0,0,0,0,0,0,0,0,58,1.323642e-06
6,2020-02-24T18:00:00,ITA,12,Lazio,41.892770,12.483667,1,1,2,0,2,0,2,1,0,3,124,2.829854e-06
7,2020-02-24T18:00:00,ITA,7,Liguria,44.411493,8.932699,0,0,0,0,0,0,0,0,0,0,1,2.282141e-08
8,2020-02-24T18:00:00,ITA,3,Lombardia,45.466794,9.190347,76,19,95,71,166,0,166,0,6,172,1463,3.338772e-05
9,2020-02-24T18:00:00,ITA,11,Marche,43.616760,13.518875,0,0,0,0,0,0,0,0,0,0,16,3.651425e-07

In [10]:
scaler.inverse_transform(X_scaled)

array([[5.000000e+00],
       [0.000000e+00],
       [1.000000e+00],
       ...,
       [4.902442e+06],
       [5.775870e+05],
       [3.556457e+07]])

# Min Max

In [11]:
X = np.array(data['totale_casi']).reshape(-1,1)
scaler = MinMaxScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)
data['min max'] = X_scaled.reshape(1,-1)[0]
data.head(10)

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,totale_casi,tamponi,single feature scaling,min max
0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,0,5,1.141070e-07,0.000000e+00
1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,0,1,2.282141e-08,0.000000e+00
3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,0,10,2.282141e-07,0.000000e+00
4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,0,18,0,0,18,148,3.377568e-06,4.503266e-06
5,2020-02-24T18:00:00,ITA,6,Friuli Venezia Giulia,45.649435,13.768136,0,0,0,0,0,0,0,0,0,0,58,1.323642e-06,0.000000e+00
6,2020-02-24T18:00:00,ITA,12,Lazio,41.892770,12.483667,1,1,2,0,2,0,2,1,0,3,124,2.829854e-06,7.505443e-07
7,2020-02-24T18:00:00,ITA,7,Liguria,44.411493,8.932699,0,0,0,0,0,0,0,0,0,0,1,2.282141e-08,0.000000e+00
8,2020-02-24T18:00:00,ITA,3,Lombardia,45.466794,9.190347,76,19,95,71,166,0,166,0,6,172,1463,3.338772e-05,4.303121e-05
9,2020-02-24T18:00:00,ITA,11,Marche,43.616760,13.518875,0,0,0,0,0,0,0,0,0,0,16,3.651425e-07,0.000000e+00

#Z-score

In [12]:
X = np.array(data['deceduti']).reshape(-1,1)
scaler = StandardScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)
data['z score'] = X_scaled.reshape(1,-1)[0]
data.head(10)

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,totale_casi,tamponi,single feature scaling,min max,z score
0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,0,5,1.141070e-07,0.000000e+00,-0.701788
1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00,-0.701788
2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,0,1,2.282141e-08,0.000000e+00,-0.701788
3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,0,10,2.282141e-07,0.000000e+00,-0.701788
4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,0,18,0,0,18,148,3.377568e-06,4.503266e-06,-0.701788
5,2020-02-24T18:00:00,ITA,6,Friuli Venezia Giulia,45.649435,13.768136,0,0,0,0,0,0,0,0,0,0,58,1.323642e-06,0.000000e+00,-0.701788
6,2020-02-24T18:00:00,ITA,12,Lazio,41.892770,12.483667,1,1,2,0,2,0,2,1,0,3,124,2.829854e-06,7.505443e-07,-0.701788
7,2020-02-24T18:00:00,ITA,7,Liguria,44.411493,8.932699,0,0,0,0,0,0,0,0,0,0,1,2.282141e-08,0.000000e+00,-0.701788
8,2020-02-24T18:00:00,ITA,3,Lombardia,45.466794,9.190347,76,19,95,71,166,0,166,0,6,172,1463,3.338772e-05,4.303121e-05,-0.700976
9,2020-02-24T18:00:00,ITA,11,Marche,43.616760,13.518875,0,0,0,0,0,0,0,0,0,0,16,3.651425e-07,0.000000e+00,-0.701788